     <div id="highlighted">
      <div class="container">
        <div class="row-fluid header">
	  <h2 class="page-title"><span>Blog</span> <small>Sometimes words do speak louder than actions</small></h2>
	 <%= link_to "Back to Blog", {:controller => "blog", :actions => "index"}, :class => "btn btn-mini back-link" %> 
        </div>
      </div>
    </div> 
      
    <div id="content">
      <div class="container">  
        <div class="row">
          
	  <!--Blog Roll Content-->
          <div class="span8 blog-post">
	
            <!--Main blog post-->
            <div class="media">
	      <%= image_tag "Blog/secure_cert.jpg" %>
              <div class="media-body">
		<h3 class="title media-heading">Secure Certificate Solution</h3>
		<!-- Meta details -->
		<ul class="inline meta muted">
		  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sat 4th May 2013</li>
		  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="http://themelize.me/demos/enkel/team-member.htm">Nitin Agarwal</a></li>
		</ul>		
		<strong><p class="text-info">IFace's Certificate Authentication Solution will help in the validation of certificates and documents issued by organizations and institution for its authenticity through the use of technologies stated in the following pragraphs.
The proposed Solution will give more reliability robustness, security and foolproof functionality, which are not available in the country’s present system of issuance of SSLC, 12th certificates, and mark sheets to school students.</p></strong>
		<p class="lead">Major Problems</p>
<p>
1. Custom Made Fake Mark Sheets, Diplomas, Fake College Degrees and Transcripts Available in the market<br/>
2. Cost Ranging from Rs 10,000 – Rs 50,000<br/>
3. At least a dozens of websites offering Professional FAKE Certificates<br/>
4. Replicated, Fake Class X/XII, Degrees/Diplomas from most post-secondary institutions from around the world are &nbsp;&nbsp;&nbsp;&nbsp;Available(Fake Certificate Making companies have over 3000 templates on file) all designed to look 100% identical to &nbsp;&nbsp;&nbsp;&nbsp;the original<br/>
5. Class X/XII, Higher Secondary, Matriculation, GCSE, A-levels, Diploma Certificates and University certificates<br/>
6. GMAT, MCAT, and LSAT Examination Certificates<br/>
7. A survey says: India is the biggest manufacturer of fake degrees in the World!<br/>
8. It is impossible to get each certificate verified as resources are limited<br/>
9. Class X Certificates are used everywhere for identification starting from bank account opening, Issuing of Ration card, &nbsp;&nbsp;&nbsp;&nbsp;Driving license to passport verification Immigration Frauds, ID Theft, Fake documents to get Government Benefits<br/>
10. As Per the International and Indian law personal details of any citizens should not be published online without his/her &nbsp;&nbsp;&nbsp;&nbsp;permission. So Government cannot maintain an open system for verification process through online</p>
		<p class="lead">The advantages of using Smart Documents and Certificates may be seen as follows:</p>
		<p>
<i class="icon-hand-right">  &nbsp; Identification of false or forged School Certificates</i><br/>
<i class="icon-hand-right">  &nbsp; Instant and Easy access of Certificate information</i><br/>
<i class="icon-hand-right">  &nbsp; Reliability of the School Certificates</i><br/>
<i class="icon-hand-right">  &nbsp; Authenticity of the School Certificates</i><br/>
<i class="icon-hand-right">  &nbsp; Credentials of the certification can be verified securely</i><br/>
<i class="icon-hand-right">  &nbsp; Tampering will be impossible</i><br/>
<i class="icon-hand-right">  &nbsp; Impersonation is 100% eliminated</i><br/>
<i class="icon-hand-right">  &nbsp; Simplifying the primary verification process</i><br/>
<i class="icon-hand-right">  &nbsp; Value addition to the certification process</i><br/>
<i class="icon-hand-right">  &nbsp; Enhancing the prestige of the certifying institution</i><br/> 
<i class="icon-hand-right">  &nbsp; An innovative measure to differentiate Right Talent and Copy cats</i><br/>
<i class="icon-hand-right">  &nbsp; Will bring a direct contribution to the State and country’s reputation</i><br/>
<i class="icon-hand-right">  &nbsp; Commonly used Mobile Phones with camera can access smart certificate information</i><br/>
<i class="icon-hand-right">  &nbsp; Will provide a global reputation for value based certification</i></p> 

<p class="lead">KEY TECHNOLOGIES</p>
<strong><p class="text-info">HEAT-REACTIVE</p></strong>

		
<p>This security ink will temporarily disappear when rubbed by hand. This feature is used as an instant verification tool and is impossible to reproduce.</p>


<strong><p class="text-info">ANTI – COPY WATER MARKING</p></strong>
<p>Artificial Watermark Security is a series of ANTI-COPY MARKINGS on back of sheet. To view this over security feature, hold sheet on a 45 degree angle to view security markings.</p>

<strong><p class="text-info">FLUORESENT FIBER SECURE</p></strong> 
<p>SECURITY FIBER TECHNOLOGY Invisible Fluorescent Fibers Invisible fibers are made visible when viewed under "dark light." Authenticate Certificate with UV-Backlight Pen.<p>

<strong><p class="text-info">PRISMATIC COLOR SECURITY BACKGROUND</p></strong>
<p>This feature is most effective when a complex background pattern is used in combination with other security features.<p>

<strong><p class="text-info">MICRO LINE SECURITY</p></strong>
<p>Micro Line Security is a series of words printed in a very small font. When viewing this covert security feature, to the "naked" eye the words appear as a ruled line. However when viewed under a magnifying glass, the words become visible.
Should a document using this technology be photocopied, the words in the Micro Printed Security Line tend to run together making them impossible to read, even under magnification.</p>

<strong><p class="text-info">WARNING BRANDS</p></strong>
<p>Document Security "WARNING BRANDS" on all four edges can contain a number of different messages. Normally Warning Brands describe the various Document Security Features incorporated in a specific document.</p>

<strong><p class="text-info">COIN ACTIVATED INK</p></strong>
<p>True watermark (also known as Fourdrinier watermark) paper is very expensive, especially if requiring full customization. Our artificial watermark serves the same purpose of authentication, but is significantly less expensive. Plus, is easily customizable. Usually placed on the backside of the document, this step-and-repeat image is invisible to the eye, until scratched with a coin, at which time the artwork turns black.</p>

<strong><p class="text-info">HIDDEN IMAGE BACKGROUND</p></strong>
<p>When copied, scanned, or faxed a hidden “COPY” pattern will reveal itself on the duplicate. This feature is effective on 99.9% of all scanning devices (Your current transcript may already have an older, less effective version of this technology).</p>

<strong><p class="text-info">ANTI –ERASURE  AND ANTI BLEACHING TECHNOLOGY SECURITY</p></strong>
<p>Chemical-Reactant Stains visible evidence of alteration.</p>

<strong><p class="text-info">Secure Nfc Tag Based Document Verification</p></strong>
<p>The solution has a feature of  NFC Tag protection  that enables any NFC enabled mobile device to fetch the information of the certificate holder from the Institution or Government Web Server with which the tag is mapped.
Near Field Communication (NFC) is a short-range wireless connectivity technology standard designed for intuitive, simple and safe communication between electronic devices. NFC communication is enabled by bringing two NFC compatible devices within a few centimeters of one another or for the two devices to literally "touch" one another. Applications of NFC technology include contactless transactions such as payment and transit ticketing, simple and fast data transfers including calendar synchronization or electronic business cards and access to online digital content.</p>
<p>NFC technology evolved from a combination of contactless identification and interconnection technologies. It combines the functions of a contactless reader, a contactless card and peer-to-peer communication. Near Field Communication (NFC) is a standards-based, short-range (a few centimeters) wireless connectivity technology that enables simple and safe two-way interactions among electronic devices, allowing consumers to perform contactless transactions, access digital content and connect electronic devices with a single touch.</p>

<strong><p class="text-info">Secure QR Code Based Document Verification</p></strong> 
<p>The solution also has a feature of QR code protection  that enables any camera enabled mobile device to scan the QR code from the document and fetch the information of the certificate holder from the Institution or Government Web Server with which the code is mapped.</p>

<p class="lead">IFaceGlobal offers an end to end support for impementing the above solution , which  facilitates the Universities and Governent Institutions to issue secure certificates that will gurantee the prevention of tampering and counterfeiting of documents and certificates.</p>




            </div>
          
            </div>
          
	  
          </div>
          
          <!--Sidebar-->
          <div class="span4 sidebar sidebar-right">
            <div class="inner">         
              <div class="block">
                <h3 class="block-title sub-title"><span>Tags</span></h3>
                <div class="tags">
                                    <span><a href="#">culture</a>  (42)</span>, 
                                    <span><a href="#">general</a>  (22)</span>, 
                                    <span><a href="#">coding</a>  (80)</span>, 
                                    <span><a href="#">design</a>  (93)</span>, 
                                  </div>
              </div>
              <div class="block">
                <h3 class="block-title sub-title"><span>Archive</span></h3>
                <ul class="big-list">
                                    <li><a href="#">December 2012</a>  (75)</li>
                                    <li><a href="#">November 2012</a>  (89)</li>
                                    <li><a href="#">October 2012</a>  (32)</li>
                                    <li><a href="#">September 2012</a>  (20)</li>
                                    <li><a href="#">August 2012</a>  (64)</li>
                                    <li><a href="#">July 2012</a>  (16)</li>
                                  </ul>
              </div>
              <div class="block">
                <a href="#" class="btn btn-warning"><i class="icon-rss"></i> Subscribe via RSS feed</a>
              </div>                
            </div>
          </div>
              
        </div>
      </div>
    </div>
    
   
      
    
   
  </body>
</html>
