    <div id="highlighted">
      <div class="container">
        <div class="row-fluid header">
          <h2 class="page-title"><span>About Us</span> <small>Find out who makes us tick</small></h2>
        </div>
      </div>
    </div>    
      
    <div id="content">
      <div class="container">       
        <!-- About -->        
        <div class="row">
        
          <div class="span8">           
            
            <!-- About company -->
            <div class="block">
              <h3 class="block-title sub-title">How It All Began</h3>
              <p>IFace Global is an initiative by the young minds with an aim to make an impact through smart solutioning by the help of IT and Embedded Technologies. We have realized that there is a huge gap between the IT Industry and the Embedded Components and planned to build high end smart solutions with an integration of IT and Embedded Components. Our focus areas are Agriculture, Animal Farming, Forest and Natural Resource Preservation, Education, eGovernnce etc. the domains that are neglected by today's fast growing Indian Technology companies.</p>
              
              <h3 class="block-title sub-title">Our Philosophy</h3>
              <p>Our vision is to make this world a smart and better place to live in by developing solutions that aim to make human life more comfortable and convenient. We believe there are many small problems and if these are addressed properly then the solutions can have huge impact on our life with a social as well as business potential.</p>
  
              <h3 class="block-title sub-title">What's In A Name?</h3>
              <p>The name IFace has been derived from the word InterFace, which is to integrate off the shelf components and develop solutions that caters to small but significant problems, solutions to which can have huge impact on the RoI of the companies as well as Government organizations.</p>
            </div>
            
            <!-- The team -->
            <div class="block margin-top-large">
              <h3 class="block-title" id="team"><span>Meet The Team</span></h3>
              <ul class="thumbnails team">
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/jimi.jpg" class="img-polaroid" alt="Jimi" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Founder & developer" data-original-title="Jimi Bloggs">Jimi</a></h4>
                </li>              
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/adele.jpg" class="img-polaroid" alt="Adele" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Founder & designer" data-original-title="Adele Bloggs">Adele</a></h4>
                </li>
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/bono.jpg" class="img-polaroid" alt="Bono" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="The Tech Guy & all round good guy!" data-original-title="Bono Bloggs">Bono</a></h4>
                </li>
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/deniro.jpg" class="img-polaroid" alt="Robert" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Junior designer" data-original-title="Robert Bloggs">Robert</a></h4>
                </li>
                
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/jobs.jpg" class="img-polaroid" alt="Steve" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Sales Manager" data-original-title="Steve Bloggs">Steve</a></h4>
                </li>              
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/jolie.jpg" class="img-polaroid" alt="Angelina" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Marketing Expert" data-original-title="Angelina Bloggs">Angelina</a></h4>
                </li>
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/obama.jpg" class="img-polaroid" alt="Obama" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Project Manager" data-original-title="Obama Bloggs">Obama</a></h4>
                </li>
                <li class="span2">
                  <a href="http://themelize.me/demos/enkel/team-member.htm"><img src="img/team/women1.jpg" class="img-polaroid" alt="Erin" /></a>
                  <h4><a href="http://themelize.me/demos/enkel/team-member.htm" class="_popover" data-content="Project Manager" data-original-title="Erin Bloggs">Erin</a></h4>
                </li>
               
              </ul>
            </div>
            
         
          </div>
          
          <!-- sidebar -->
          <div class="span4 sidebar sidebar-right">
            <div class="inner">
              <div class="block">
                <h3 class="block-title sub-title"><span>About Menu</span></h3>
                <ul class="nav nav-list secondary-nav">
                  <li><a href="#began"><i class="icon-chevron-right"></i> How It All Began</a></li>
                  <li><a href="#team"><i class="icon-chevron-right"></i> Meet The Team</a></li>
                </ul>
              </div>
              
              <div class="block">
                <h3 class="block-title sub-title"><span>Work for us!</span> <span class="label label-warning pull-right">We're hiring!</span></h3>
                <!--accordion-->
                <div class="accordion accordion-primary" id="accordion2">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Senior developer (onsite)
                      </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                      <div class="accordion-inner">
                        Facilisis sit magnis egestas nec auctor tincidunt natoque. Purus, dignissim lectus aliquam vel sit. Nascetur ac lectus nunc placerat ut. Quis amet placerat amet in porttitor nunc platea aliquam lundium massa magnis, ac, purus etiam vel.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Junior developer (onsite)
                      </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        Aliquam aliquam, scelerisque augue? Integer eu? Mus? Est hac, magna et et parturient turpis dignissim! In placerat lundium, vel mus ac ac tincidunt enim natoque, urna non, integer lorem a ultricies. Aliquam montes tristique phasellus in pellentesque sociis sed.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Contract developer (onsite & remote)
                      </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                      <div class="accordion-inner">
                        Pulvinar, enim ac odio nunc lacus vut sociis odio risus enim, sit magnis, cursus, in cras elementum? Nec porta, odio urna, lundium a, tincidunt porttitor amet in nisi a nec a dis scelerisque placerat pulvinar! 
                      </div>
                    </div>
                  </div>
                </div>              
              </div>
              <div class="block mdrs">
                <a href="#" class="btn btn-block btn-info"><i class="icon-download-alt"></i> Download Our Press Kit</a>
                <a href="http://themelize.me/demos/enkel/contact.htm" class="btn btn-block btn-success"><i class="icon-envelope"></i> Get In Touch</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
