<div id="highlighted">
  <div class="container">
    <div class="row-fluid header">
      <h2 class="page-title"><span>Solutions</span> <small>The solutions we offer & how we can help you!</small></h2>
    </div>
  </div>
</div>
<div id="content">
  <div class="container"> 
    
    <!-- Solutions -->
    <div class="block services">
      <ul class="thumbnails">
        <li class="span3">
          <h3 class="title">Tracking and Inventory Management</h3>
          <p>IFaceGlobal offers a selection of Wi-Fi RFID tags for location tracking of assets and people and temperature monitoring. Our Wi-Fi tags may be used from healthcare to industrial applications, to track assets and people, providing two-way communications. IFaceGlobal RFID tags offer long battery life and operate even in multi-vendor environments.<br/><small><%= link_to "Read More", asset_tracking_solutions_path %></small></p>
        </li>
        <li class="span3">
          <h3 class="title">Smart Agriculture and Smart Environment Solutions</h3>
          <p><b>Wine Quality Enhancing</b> <br/>
Monitoring soil moisture and trunk diameter in vineyards to control the amount of sugar in grapes and grapevine health.<br/><br/>

<b>Green Houses</b><br/>
Control micro-climate conditions to maximize the production of fruits and vegetables and its quality.<br/>
<small><%= link_to "Read More", smart_agri_solutions_path %></small></p>

        </li>
        <li class="span3">
          <h3 class="title">e-Governance System Integration and Solutioning</h3>
          <p>We, at IFace believe that e-governance is about understanding the government domain, bringing about a cultural change and using technology as an enabler to help government achieve better performance. We specialize in System Integration, Hardware Procurement and Installation, Forest Fire and Asset Tracking Solutions.<br/><small><%= link_to "Read More", egov_solutions_path %></small> </p>
        </li>
        <li class="span3">
          <h3 class="title">University Management and Certificate Authentication Solutions</h3>
          <p>We specialize in end to end University Management and Tamper Proof Certificate Solutions.<br/><small><%= link_to "Read More", university_solutions_solutions_path %></p>
        </li>
      </ul>
      <div class="secondary block margin-top-large">
        <div class="row">
          <div class="span4">
            <h3 class="block-title sub-title">Development</h3>
            <ul class="unstyled">
              <li><i class="icon-ok"></i> Website Auditing</li>
              <li><i class="icon-ok text-info"></i> Website Maintenance</li>
              <li><i class="icon-ok text-info"></i> eCommerce</li>
              <li><i class="icon-ok text-info"></i> SEO Optimisation</li>
              <li><i class="icon-ok text-info"></i> Open Source Development</li>
              <li><i class="icon-ok text-info"></i> iOS & Android Development</li>
              <li><i class="icon-ok text-info"></i> Onsite Technical Support</li>
              <li><i class="icon-ok text-info"></i> Emergency Technical Support</li>
              <li><i class="icon-ok text-info"></i> Coffee Making (just kidding)</li>
            </ul>
          </div>
          <div class="span4">
            <h3 class="block-title sub-title">Design</h3>
            <ul class="unstyled">
              <li><i class="icon-ok text-info"></i> Mobile Design</li>
              <li><i class="icon-ok text-info"></i> Print Design</li>
              <li><i class="icon-ok text-info"></i> Online Publishing Design</li>
              <li><i class="icon-ok text-info"></i> Branding</li>
              <li><i class="icon-ok text-info"></i> Installations</li>
              <li><i class="icon-ok text-info"></i> Social Media Design</li>
              <li><i class="icon-ok text-info"></i> Staff Training</li>
              <li><i class="icon-ok text-info"></i> One to One Training</li>
              <li><i class="icon-ok text-info"></i> Open Training Days</li>
            </ul>
          </div>
          <div class="span4">
            <h3 class="block-title sub-title">Our Skills Set</h3>
            System Integration:
            <div class="progress progress-info progress-striped">
              <div class="bar" style="width: 80%;"></div>
            </div>
            Solutioning:
            <div class="progress progress-info progress-striped">
              <div class="bar" style="width: 90%;"></div>
            </div>
            Consulting:
            <div class="progress progress-info progress-striped">
              <div class="bar" style="width: 75%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

